@tailwind base;
@tailwind components;
@tailwind utilities;

body, button[type=submit]{
  background: linear-gradient(
    90deg,
    rgb(179, 20, 166) 10%,
    rgb(237, 34, 98) 90%
  );    
}

body {
  display: flex;
  overflow: hidden;
}